# -------------------------
# PHP Settings
# -------------------------
php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone Asia/Manila

# -------------------------
# Enable Rewrite Engine
# -------------------------
RewriteEngine On

# -------------------------
# Default index file
# -------------------------
DirectoryIndex index.php

# -------------------------
# Remove .php from URLs
# -------------------------
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# -------------------------
# Route empty URL to index.php
# -------------------------
RewriteRule ^$ index.php [L]

# -------------------------
# Custom 404 Page
# -------------------------
ErrorDocument 404 /404.html
